body{
 	background-color: #e9eaed;
}
.inner-box{
	color:black;
	border: 0.1em solid;
	border-collapse: 1em solid;
	border-color: #ddd ;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(50, 50, 53, 0.1);
	-moz-box-shadow:    1px 1px 2px 1px rgba(50, 50, 53, 0.1);
	box-shadow:         1px 1px 2px 1px rgba(50, 50, 53, 0.1);
	margin-bottom: 5px;
	padding: 5px 10px 5px 10px;
}

.navbar-fb{
	background-color:#3b5998;
} 

.navbar-custom {
	background-color:#3b5998;
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3b597f;;
}
.navbar-custom .navbar-nav > .active > a, .navbar-x .navbar-nav > .active > a:hover, .navbar-x .navbar-nav > .active > a:focus {
	color: #e8e6f4;
	background-color: #3b597f;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#3b5998;
}
.navbar-custom .icon-bar {
  	background-color:#ffffff;
}
.logo{
	margin-left:15px;
}
.well-moded{
//margin: auto;
background-color: #ffffff;
//padding-left: 40px;
//padding-bottom: 40px;
box-shadow: 0px 10px 20px 3px #d3d3d3;
height:315px;
}
.well-moded-auto{
//margin: auto;
background-color: #ffffff;
//padding-left: 40px;
//padding-bottom: 40px;
box-shadow: 0px 10px 20px 3px #d3d3d3;
//height:315px;
}

.border-r{
border-right: 1px solid #dddddd;
float: left;
font-size: 14px;
font-weight: bold;
height: 43px;
line-height: 3.05;
padding: 0 17px;
position: relative;
vertical-align: middle;
white-space: nowrap;
}
.btn-trans{
	background-color:#fff;
	border-left:transparent;
	height:31px;
}
.prof-name{
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	max-width: 275px;
	color:black;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.prof-name{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
	//max-width: 275px;
	color:black;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
.prof-name{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
	//max-width: 275px;
	color:black;
}

.pp{
background: rgba(0, 0, 0, .3);
-webkit-border-radius: 3px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
display: block;
left: 23px;
margin-top: -121px;
padding: 1px;
position: absolute;
-webkit-box-shadow: none;
left: 15px;
margin-top: 0;
top: -73px;	
height:100px;
width:100px;
background-color:#ffffff;
border:1px solid;
border-color:#ddd;
padding:2px;
cursor:pointer;
}


.imgx{
width:93px;
height:93px;	
}
.colxs{
	height:25px;
	width:120px;
}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.searchbox{
	width:100% !important;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.searchbox{
	width:100% !important;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.searchbox{
	width:100% !important;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 950px)
and (min-width : 1160px)
and (min-width : 1224px) {
/* Styles */

.pp{
background: rgba(0, 0, 0, .3);
-webkit-border-radius: 3px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
display: block;
left: 23px;
margin-top: -121px;
padding: 1px;
position: absolute;
-webkit-box-shadow: none;
left: 15px;
margin-top: 0;
top: -143px;	
height:168px;
width:168px;
background-color:#ffffff;
border:1px solid;
border-color:#ddd;
padding:2px;
cursor:pointer;
}
.prof-name{
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	max-width: 275px;
	color:black;
}
.imgx{
width:162px;
height:162px;	
}
.colxs{
	height:25px;
	width:200px;
}
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}	
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}